name: CI

on:
  pull_request:
    branches: [main]
  push:
    branches: [main]

jobs:
  ci:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 25
      - uses: biomejs/setup-biome@v2
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest
      - name: Install modern C++ compiler
        run: |
          sudo apt-get update -qq
          sudo apt-get install -y -qq g++-10
          sudo update-alternatives --install /usr/bin/g++ g++ /usr/bin/g++-10 100
      - run: bun install
      - name: Lint
        run: bun run check:ci
      - name: Typecheck
        run: bun run typecheck
      - name: Test
        run: bun run test
      - name: Build
        run: bun run build
